<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giufu.youtube_explorer">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_video_50"
        android:supportsRtl="true">
        <service
            android:name=".MainService"
            android:label="@string/title_activity_main_service"
            android:icon="@drawable/ic_video_50">
            <!-- add icon inside service -->
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoActivity"
            android:exported="true"/>
        <activity android:name=".ResultsActivity"/>
        <activity android:name=".QrScannerActivity"/>
        <activity android:name=".scan.CaptureActivity"
            android:exported="true"/>
    </application>

</manifest>